<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Producto</title>
    <link href="{% static 'img/icon.ico' %}" rel="icon" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  </head>
  <body>
    <nav>
      <section>
        <a href="{% url 'index' %}"><button>INICIO</button></a>
      </section>
      <img src="{% static 'img/logo.png' %}" width="90" />
    </nav>
    <main id="pagProducto">
      <section id="conProducto">
        <h1>{{ nombreProducto }}</h1>
        <p id="detProducto">{{ detalleProducto }}</p>
        <p>Cantidad:</p>
        <form action="/categorias/">
          <input name="cantidad" type="number" min="1" required />
          <button>Comprar</button>
        </form>
      </section>
      <section>
        <img src="{{ imgProducto }}" width="800" />
      </section>
    </main>
  </body>
</html>
