<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link href="{% static 'img/icon.ico' %}" rel="icon" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <nav>
      <section>
        <a href="{% url 'index' %}"><button>INICIO</button></a>
      </section>
      <img src="{% static 'img/logo.png' %}" width="90" />
    </nav>
    <header id="login">
      <img src="{% static 'img/perfil.png' %}" id="imgCuenta" />
      <section>
        <h1>CUARTO ENTREGABLE</h1>
        <form method="post">
          {% csrf_token %}
          <div>
            <label for="usuario">Usuario:</label>
            <input type="text" name="usuario" required />
          </div>
          <div>
            <label for="clave">Contraseña:</label>
            <input type="password" name="clave" required />
          </div>
          <button type="submit">Iniciar Sesión</button>
        </form>
        <a href="{% url 'register' %}"><button>Registrarse</button></a>
        {% if showError %}
          <script src="{% static 'js/forms.js' %}"></script>
          <p id="msgError">{{ mensajeError }}</p>
        {% endif %}
      </section>
    </header>
    <main id="infoIndex">
      <section id="cuadroInfoP">
        <p>
          <strong>Habilidades:</strong>Programación backend y conocimiento básico de Frontend, con algunas bases de interfaces gráficas.
        </p>
        <p>
          <strong>Herramientas:</strong>Java, Python, C++ y JavaScript.
        </p>
      </section>
      <section id="infoPersonal">
        <img src="{% static 'img/foto.jpg' %}" width="200" />
        <div>
          <p>
            <strong>Nombre:</strong>Juan José
          </p>
          <p>
            <strong>Apellido:</strong>Jaramillo Vera
          </p>
          <p>
            <strong>Cédula:</strong>1007565816
          </p>
          <p>
            <strong>Correo:</strong>juan_jaramillo82222@elpoli.edu.co
          </p>
        </div>
      </section>
    </main>
  </body>
</html>
